.navbar {
 background:#AFEEEE;
}
.nav-link , .navbar-brand {
 color: #000080;
 cursor: pointer;
}
.nav-link {
 margin-right: 1em !important;
}
.nav-link:hover {
 background: #F0FFF0;
 color: #708090;
}
.navbar-collapse {
 justify-content: flex-end;
}
.navbar-toggler {
  background:#fff !important;
}
.header {
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}
.overlay {
 min-height: 100%;
 min-width: 80%;
 left: 100px;
 top: 50px;
 right: 1000px;
}
.head {
 min-height: 100%;
 min-width: 100%;
 left: 100px;
 right: 1000px;
 background: rgba(244, 244, 244, 50.34);
}
.description {
 position: absolute;
 top: 30%;
 margin: auto;
 padding: 2em;
}
.description p {
 color: #000000;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button {
 border:1px  solid #87CEEB;
 background: #AFEEEE;
 color: #000080;
}
#about {
 padding: 1em;
 position: relative;
}
#about h1 {
 color:#F97300;
 margin: 2em;
}
#about img {
 height: 100%;
 width: 100%;
 border-radius: 50%
}
#about span {
 display: block;
 color: #000000;
 position: absolute;
 left: 130px;
}
#about .desc {
 padding: 3em;
 border-left: 6px solid #000080;
}
#about .desc h3 {
 color: #000080;
}
#about .desc p {
 line-height: 2;
 color: #000000;
}
div,h1,h3 {
 color: #000080;
}
.portfolio {
 padding: 2em;
 margin: 0;
 position: relative; 
}
.portfolio img {
 height: 15rem;
 width: 100%;
 margin: 1em;
}
.featurette-divider {
 margin-top: 50px;
 margin-bottom: 50px;
}